.options-btn .btn {
  width: 100%;
  padding: 2% 0;
  margin-bottom: 15px;
  font-size: 1.5em;
  border-radius: 10px;
  transition:
    background-color 0.3s,
    transform 0.3s;
  background: linear-gradient(to right, #b79891, #94716b);
  border: 1.5px solid black !important;
}

.options-container {
  margin-top: 3.5rem;
}

.options-btn .btn:hover {
  transform: scale(1.05);
}

.folders-btn {
  background: linear-gradient(to right, #ff7e5f, #feb47b) !important;
}

@media (max-width: 768px) {
  .options-btn .btn {
    padding: 4% 0;
    font-size: 1.2em;
  }
  .options-container {
    margin-top: 2.8rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .options-btn .btn:hover {
    transform: scale(1);
  }
}
