.card::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

/* Style the track of the scrollbar */
.card::-webkit-scrollbar-track {
  background: #bb9b71; /* color of the track */
}

/* Style the handle of the scrollbar */
.card::-webkit-scrollbar-thumb {
  background-color: #5b462f; /* color of the thumb */
  border-radius: 6px; /* roundness of the thumb */
  border: 3px solid #bb9b71; /* creates padding around the thumb */
}

/* Style the handle of the scrollbar on hover */
.card::-webkit-scrollbar-thumb:hover {
  background: #826346; /* color when hovering over the thumb */
}
