.back-btn {
    background-color: red !important;
    transition: transform ease 0.5s;
}

.back-btn:hover {
    transform: scale(1.05);
    background-color: red !important;
}

label {
    margin-top: 0.2rem;
}