.card-custom {
  background: rgb(252, 251, 211);
  background: radial-gradient(
    circle at top left,
    #fffdde 0%,
    rgba(255, 245, 121, 1) 100%
  );

  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease-in-out;
}

.card-custom:hover {
  transform: scale(1.02);
}

.login-btn {
  background-color: #ffa500 !important;
  color: white !important;
  border: 2px solid #ffa500 !important;
  transition: transform ease 0.5s !important;
}

.login-btn:hover {
  background-color: #ff8c00 !important;
  border: 2px solid #ff8c00 !important;
  transform: scale(1.05);
}

.forgot-password {
  color: red;
  text-decoration: none;
}

.register-link {
  color: blue;
  text-decoration: none;
}

.forgot-password:hover,
.register-link:hover {
  text-decoration: underline;
}

.login-btn:active {
  background-color: #ff7f00 !important;
}

.styled-btn {
  background: linear-gradient(90deg, #f2cd3a, #d4a373);
  color: #000;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 6px;
  transition: all 0.25s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.styled-btn:hover {
  background: linear-gradient(90deg, #e3b537, #c4915f);
  transform: translateY(-1px);
}

.styled-btn:active {
  transform: scale(0.97);
  box-shadow: none;
}

.styled-link {
  color: #de8d31;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}
.styled-link:hover {
  color: #d97706;
  text-decoration: underline;
}

.error-message {
  font-size: 0.9rem;
}

.responsive-container {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .card-container {
    max-width: 100%;
    padding: 0 20px;
  }

  .responsive-container {
    min-height: 85vh;
  }
  .login-btn:hover {
    transform: scale(1);
  }
}
