.card-custom {
    background: rgb(252,251,211);
    background: linear-gradient(90deg, rgba(252,251,211,1) 0%, rgba(255,245,121,1) 100%);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); 
    transition: transform 0.3s ease-in-out;
}

.card-custom:hover {
    transform: scale(1.02);
}

.login-btn {
    background-color: #FFA500 !important;
    color: white !important;
    border: 2px solid #FFA500 !important;
}

.login-btn:hover {
    background-color: #FF8C00 !important;
    scale: 1.02;
    border: 2px solid #FF8C00 !important;
}

.forgot-password {
    color: red;
    text-decoration: none;
}

.register-link {
    color: blue;
    text-decoration: none;
}

.forgot-password:hover,
.register-link:hover {
    text-decoration: underline;
}

.login-btn:active {
    background-color: #FF7F00 !important;
}

@media (max-width: 768px) {
    .card-container {
        max-width: 100%;
        padding: 0 20px; 
    }
}
  
